.card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.card__container {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  padding: 0.2em;
  font-weight: 500;
}

.card__container__left {
  width: 38%;
}
.card__container__right {
  width: 73%;
  color: #777777;
}
