ul {
  list-style-type: none;
}
img {
  width: 2.6rem;
  height: 2.6rem;
}
.header {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.header__title {
  font-size: 2em;
  color: #777777;
  font-weight: bold;
}

.header__name {
  font-weight: bold;
}
