* {
	margin:0;
  box-sizing: border-box;
}
a:link {color:#0011bb;}    /* unvisited link is black*/
a:visited {color:#6600cc;} /* visited link is black (reverse the color back to black)*/
 
body {
	font-family: sans-serif;
} 
h1,h2{
	color:'#777777';
}
.app__body{
	display: flex;
	margin:0 auto;
}
.app__table{
	margin:auto;
	color:#444444;
}

.app__table > h2{
	margin: 1em 0;
	text-align: center;
}