h1{
	text-align: center;
}
.user__container {
	width: 40%;
	display: flex;
	justify-content: space-around;
}

.user__container__right{
	display: flex;
	align-items: center;
	justify-content: center;
}